body {
    background: #f1f1f1;
    font-family: Kanit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Kanit;
}

.navbar-custom {
    height: 12%;
}

.navbar-nav {
    float: right;
}

.img-block1 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.box-padding {
    padding: 0rem;
}

.media-custom {
    background: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}

.media-body {
    padding-left: 1rem;
    padding-right: 1rem;
}

.img-fluid {
    object-fit: cover;
    height: 15rem;
}

.imgrecroom {
    object-fit: cover;
}

a {
    text-decoration: none;
}

.parallax {
    /* The image used */
    background-image: url("deluxe7.jpg");
    /* Set a specific height */
    height: 550px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("testsocial.jpg");
    /* Set a specific height */
    height: 550px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.media-custom a {
    color: #1cc3b2;
    transition: 0.3s;
}

.media-custom:hover a {
    color: white;
    transition: 0.3s;
}

.media-custom {
    background-color: #0e2737;
    color: white;
    transition: 0.3s;
}

.media-custom:hover {
    background-color: #0e2737;
    color: white;
    transition: 0.3s;
}

.media-custom:hover .boxatt a {
    background-color: rgb(255, 124, 37);
    border-color: rgb(255, 124, 37);
    color: white;
    transition: 0.3s;
}

.row-service:hover i {
    color: #0d6efd;
    transition: 0.2s;
}

.row-service:hover p {
    color: #0e2737;
    transition: 0.2s;
}

.reccontact i {
    color: #0d6efd;
    transition: 0.2s;
}

.reccontact:hover i {
    color: rgb(255, 124, 37);
    transition: 0.2s;
}

.my-custom-class {
    margin-top: 0px;
}


/* @media (max-width: 575.98px) {
    .carousel-item {
        height: 250px;
    }
    .cardbookingall .carousel-item {
        height: 250px;
    }
    .cardbooking .carousel-item {
        height: 250px;
    }
    .bt_listbooking {
        margin-bottom: 0.5rem;
    }
} */

.p-card-booking {
    padding: 0.5rem;
}


/* size cardbooking all */

.cardbookingall {
    overflow: hidden;
}

.cardbookingall .carousel-item {
    height: 35rem;
}

.cardbookingall .carousel-item img {
    height: 100%;
    object-fit: cover;
}


/* size cardbooking all */


/* size cardbooking  */

.cardbooking .carousel-item {
    height: 600px;
}

.cardbooking .carousel-item img {
    height: 100%;
    object-fit: cover;
}


/* size cardbooking  */


/* .card_r1 .carousel-item {
    height: 600px;
} */

.setcard-recroom {
    color: white;
    background: #0e2737;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}

.btn-recroom {
    color: white;
    background-color: #1cc3b2;
}

.btn-recroom:hover {
    color: #1cc3b2;
    background-color: white;
}

.p-body-cardbooking {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    padding-left: 3rem;
    padding-right: 3rem;
}

.icon-booking {
    color: #1cc3b2;
    cursor: pointer;
}

.icon-booking:hover {
    color: white;
}

.img-radius {
    border-radius: 1%;
}

@media (min-width: 992px) {
    /* Desktop */
    .setimg-h-recroom img {
        height: 600px;
    }
    .box-date {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width: 991px) {
    /* Tablets */
    .setimg-h-recroom img {
        height: 640px;
    }
    .p-body-cardbooking {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.navbar-position {
    justify-content: end;
}

@media (max-width: 767px) {
    /* Mobile */
    .setimg-h-recroom img {
        height: 300px;
    }
    .box-date {
        margin-left: 0;
        margin-right: 0;
    }
    .cardbookingall .carousel-item {
        height: 25rem;
    }
    .p-body-cardbooking {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .p-body-recroom {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar-position {
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
}