<section id="checkbookingeee" style="position: relative;">
    <!-- <div class="backgroundpage-image"></div> -->

    <div
        class="container pt-5 d-flex flex-column justify-content-between align-items-center min-vh-100">

        <div
            class="col-lg-8 d-flex flex-column justify-content-center align-items-center">
            <div class="textcheck  pt-4 fs-3 d-flex justify-content-center mb-4">ตรวจสอบการจองห้องพัก</div>

            <form class="d-flex w-100" action="javascript:room_code_checking()">
                <input class="form-control p-3 shadow-info me-2" type="text"
                    id="id_numcheckbooking" placeholder="กรอกรหัสห้องพัก"
                    aria-label="Search" title="กรุณากรอกรหัสห้องพัก" required>
                <button class="btn btn-outline-success" type="submit">ค้นหา</button>
            </form>
            <div class="card my-5" id="check_card">
                <div class="container">
                    <div class="pt-3">
                        <center>
                            <h1>ข้อมูลการจอง</h1>
                        </center>
                    </div>
                    <div class="row">
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">รหัสการจอง :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-reserv_id" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">เลขห้อง :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-room_number" class="col-form-label"></label>
                        </div>

                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">ประเภทห้อง :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-room_type" class="col-form-label"></label>
                        </div>

                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">เช็คอิน :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-checkin" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">เช็คเอาท์ :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-checkout" class="col-form-label"></label>
                        </div>

                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">ราคาห้อง :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="roomprice" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">ราคารวม :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="roompricetotal" class="col-form-label"></label>
                        </div>

                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">เตียง :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="info_bed" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">ขนาดห้อง :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="info_roomsize" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">จำนวนเข้าพักสูงสุด
                                :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="info_countcustomer"
                                class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">ส่วนเสริม :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="info_extional" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">จ่ายด้วย :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="info_pay" class="col-form-label"></label>
                        </div>
                    </div>
                    <div class>บริการเสริม</div>
                    <div class id="showservice">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">สถานะ :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-status" class="col-form-label"></label>
                        </div>
                    </div>
                    <div class="pt-3">
                        <center>
                            <h1>ข้อมูลผู้จอง</h1>
                        </center>
                    </div>
                    <div class="row">
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">รหัสลูกค้า :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-cus-id" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">ชื่อ-สกุล :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-fullname" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">เบอร์โทรศัพท์ :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-p-num" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">อีเมลล์ :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="check-email" class="col-form-label"></label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6 text-end">
                            <label class="col-form-label">มาจากประเทศ :</label>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-md-6">
                            <label id="fromcountry" class="col-form-label"></label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </div>

</section>

<script>
    function room_code_checking() {
        var code = document.getElementById("id_numcheckbooking").value

        fetch("/get_booking_code", {
            method: "post",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },

            body: JSON.stringify({
                code
            })
        }).then((response) => response.json()).then((body) => {
            var reserv = body.result
            if (reserv.length > 0) {
                Swal.fire({
                    title: "Enter the last 4 digits of your phone number:",
                    input: "text",
                    inputAttributes: {
                        placeholder: "Last 4 digits",
                        inputmode: "numeric",
                        pattern: "[0-9]{4}",
                        minLength: 4,
                        maxLength: 4,
                    },
                    customClass: {
                        container: "mt-5",
                    },
                    position: "top",
                    showCancelButton: true,
                    confirmButtonText: "Confirm",
                    cancelButtonText: "Cancel",
                }).then((result) => {
                    if (result.isConfirmed) {
                        const phoneNumber = result.value;
                        fetch("/get_reserv_info", {
                                method: "post",
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify({
                                    code,
                                    phoneNumber,

                                })
                            })
                            .then((response) => response.json())
                            .then((body) => {
                                var reserv_info = body.reserv_info[0];
                                var showservice = body.showservice;
                                console.log(reserv_info);
                                console.log(showservice);

                                if (reserv_info == undefined) {
                                    Swal.fire({
                                        title: "เบอร์โทรศัพท์ไม่ถูกต้อง",
                                        customClass: {
                                            container: "mt-5",
                                        },
                                        position: "top",
                                    })
                                } else {

                                    document.getElementById('check-reserv_id').innerHTML = reserv_info.reserved_id
                                    document.getElementById('check-room_number').innerHTML = reserv_info.num_room
                                    document.getElementById('check-room_type').innerHTML = reserv_info.name + `(${reserv_info.name_th})`
                                    document.getElementById('check-status').innerHTML = reserv_info.status
                                    document.getElementById('check-checkin').innerHTML = reserv_info.checkin
                                    document.getElementById('check-checkout').innerHTML = reserv_info.checkout
                                    document.getElementById('check-cus-id').innerHTML = reserv_info.cus_id
                                    document.getElementById('check-fullname').innerHTML = `${reserv_info.f_name} ${reserv_info.l_name}`
                                    document.getElementById('check-p-num').innerHTML = reserv_info.p_num
                                    document.getElementById('check-email').innerHTML = reserv_info.email
                                    document.getElementById('roomprice').innerHTML = reserv_info.price
                                    document.getElementById('roompricetotal').innerHTML = reserv_info.total_price
                                    document.getElementById('fromcountry').innerHTML = reserv_info.country
                                    document.getElementById('info_bed').innerHTML = reserv_info.bed
                                    document.getElementById('info_roomsize').innerHTML = reserv_info.size
                                    document.getElementById('info_countcustomer').innerHTML = reserv_info.count_humen
                                    document.getElementById('info_extional').innerHTML = reserv_info.extional
                                    document.getElementById('info_pay').innerHTML = reserv_info.pay_type

                                    var service_element = document.getElementById('showservice');
                                    service_element.innerHTML = ''

                                    for (let i = 0; i < showservice.length; i++) {
                                        var html = `
                                        <div class="d-flex">
                                        <div class="me-2">
                                          ${showservice[i].name}
                                        </div>
                                        <div class="">
                                          ${showservice[i].price}
                                        </div>
                                    </div>
                                        `
                                        var htmldiv = document.createElement('div');
                                        htmldiv.setAttribute('class', 'col-6 col-sm-6 col-md-4 col-lg-4')

                                        htmldiv.innerHTML = html;
                                        service_element.appendChild(htmldiv);
                                    }

                                    document.getElementById('check_card').style.display = 'block'
                                }

                            });

                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        console.log("Cancelled");
                        // Perform further actions for cancellation
                    }
                });

            } else {


            }
        })
    }
</script>