<section id="aboutus">
    <!-- รูปแรกหน้าเกี่ยวกับเรา -->
  <div class="fist-bg">
            <div class="welcome-aboutus">
            <h1>เกี่ยวกับเรา</h1>
            <p>โรงแรมใจดี</p>
          </div>
  </div>

  <div class="row-box-ab">
    <div class="white-box-ab">asdasdasdasd</div>

  </div>

    <!-- ฟุตเตอร์เพจ -->
  <footer>
    <div class="footer-con">
      <div class="footer-top">
        <div class="footer-top-item">
          <ul>
            <li>PRODUCTS</li>
            <li> Our work</li>
            <li>Club</li>
            <li>News</li>
            <li>Announcement</li>
          </ul>
        </div>
        <div class="footer-top-item">
          <ul>
            <li>PRODUCTS</li>
            <li> Our work</li>
            <li>Club</li>
            <li>News</li>
            <li>Announcement</li>
          </ul>
        </div>
        <div class="footer-top-item">
          <ul>
            <li>PRODUCTS</li>
            <li> Our work</li>
            <li>Club</li>
            <li>News</li>
            <li>Announcement</li>
          </ul>
        </div>
        </div>
      </div>
      <div class="footer-bot">

          <div class="footer-bot-item">
            <ul class="footer-bot-icons">
              <li><a href="#"><img src="facebook.png"></a></li>
              <li><a href="#"><img src="instagram.png"></a></li>
              <li><a href="#"><img src="twitter.png"></a></li>
              <p>Copyright ©2023 All rights reserved | This template is made with  by Colorlib</p>
            </ul>




          </div>


      </div>
    </div>
  </footer>



</section>