<section id="checkbooking" style="position: relative;">
    <div class="backgroundpage-image"></div>

    <div class="container pt-5 d-flex flex-column justify-content-between align-items-center min-vh-100" style="background-color: rgba(255, 255, 255, 0.6);">
        <div class="container">
            <div class="checkbooking-section pb-5">

                <div class="textcheck  pt-4 fs-3 d-flex justify-content-center mb-4">ตรวจสอบการจองห้องพัก</div>

                <form class="d-flex">
                    <input class="form-control me-2" type="" id="id_numcheckbooking" placeholder="กรอกรหัสการจองหรือเบอร์โทรศัพท์" aria-label="Search">
                    <button class="btn btn-outline-success" type="button" onclick="checkbooking_search()">ค้นหา</button>
                </form>

                <div id="card-booking"></div>


            </div>
        </div>
        <footer-component></footer-component>
    </div>


</section>

<script>
    function checkbooking_search() {
        console.log("in checkbooking_search");
        var idnumcheckbooking = document.getElementById('id_numcheckbooking').value

        console.log("idnum: " + idnumcheckbooking);



        const cardlistbooking = document.getElementById('card-booking');
        cardlistbooking.innerHTML = '';

        if (idnumcheckbooking == "") {
            console.log("alert");
            Swal.fire({
                title: 'กรุณากรอกเบอร์โทรศัพท์หรือรหัสการจองห้องพัก',
                backdrop: true,
                customClass: {
                    backdrop: 'swal-backdrop-blur',
                },
            });

        } else {

            fetch("/checkbooking", {
                method: "post",
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },

                body: JSON.stringify({
                    idnumcheckbooking,
                })
            }).then((response) => response.json()).then((body) => {
                var idnum_booking = body.allbooking
                var success = body.success
                if (success == false) {
                    Swal.fire({
                        title: 'ไม่มีข้อมูลการจองห้องพัก',
                        backdrop: true,
                        customClass: {
                            backdrop: 'swal-backdrop-blur',
                        },
                    });
                } else if (success == true) {

                    for (var index = 0; index < idnum_booking.length; index++) {

                        const textlist5 = document.createElement('div');
                        const collist5 = document.createElement('div');
                        collist5.setAttribute('class', 'col-12 col-sm-6 col-md-2 col-lg-2 d-flex bt_listbooking justify-content-center ');

                        // console.log(idnum_booking[index].reserved_id);
                        if (idnum_booking[index].status == 0) {

                            textlist5.setAttribute('style', 'align-items: center ; color: white;"');
                            idnum_booking[index].status = "รอยืนยัน"
                            textlist5.textContent = idnum_booking[index].status

                            collist5.setAttribute('style', 'align-items: center ; background-color: #dde600');
                        } else if (idnum_booking[index].status == 1) {

                            textlist5.setAttribute('style', 'align-items: center ;color: white ;');
                            idnum_booking[index].status = "ยืนยันแล้ว"
                            textlist5.textContent = idnum_booking[index].status

                            collist5.setAttribute('style', 'align-items: center ; background-color: #198754');
                        } else if (idnum_booking[index].status == 2) {

                            textlist5.setAttribute('style', 'align-items: center ;color: white ;');
                            idnum_booking[index].status = "รอตรวจสอบ"
                            textlist5.textContent = idnum_booking[index].status

                            collist5.setAttribute('style', 'align-items: center ; background-color: #dde600');
                        } else if (idnum_booking[index].status == 3) {

                            textlist5.setAttribute('style', 'align-items: center ;color: white ;');
                            idnum_booking[index].status = "ตรวจสอบแล้ว"
                            textlist5.textContent = idnum_booking[index].status

                            collist5.setAttribute('style', 'align-items: center ; background-color: #198754');
                        } else if (idnum_booking[index].status == 4) {

                            textlist5.setAttribute('style', 'align-items: center ;color: white ;');
                            idnum_booking[index].status = "เช็คเอาท์แล้ว"
                            textlist5.textContent = idnum_booking[index].status

                            collist5.setAttribute('style', 'align-items: center ; background-color: #198754');
                        } else if (idnum_booking[index].status == 5) {

                            textlist5.setAttribute('style', 'align-items: center ;color: white ;');
                            idnum_booking[index].status = "ยกเลิก"
                            textlist5.textContent = idnum_booking[index].status

                            collist5.setAttribute('style', 'align-items: center ; background-color: #e60000');
                        }


                        const cardlist = document.createElement('div');
                        cardlist.setAttribute('class', 'card m-0 mt-2');
                        const rowlist = document.createElement('div');
                        rowlist.setAttribute('class', 'row p-2');
                        const collist1 = document.createElement('div');
                        collist1.setAttribute('class', 'col-6 col-sm-6 col-md-2 col-lg-2 d-flex bt_listbooking');
                        collist1.setAttribute('style', 'align-items: center');
                        const textlist1 = document.createElement('div');
                        textlist1.textContent = "รหัส: " + idnum_booking[index].reserved_id
                        const collist2 = document.createElement('div');
                        collist2.setAttribute('class', 'col-6 col-sm-6 col-md-2 col-lg-2 d-flex bt_listbooking');
                        collist2.setAttribute('style', 'align-items: center');
                        const textlist2 = document.createElement('div');
                        textlist2.textContent = idnum_booking[index].name_th + " " + idnum_booking[index].bed
                        const collist3 = document.createElement('div');
                        collist3.setAttribute('class', 'col-6 col-sm-6 col-md-2 col-lg-2 d-flex bt_listbooking');
                        collist3.setAttribute('style', 'align-items: center');
                        const textlist3 = document.createElement('div');
                        textlist3.textContent = "วันเช็คอิน: " + idnum_booking[index].checkin
                        const collist4 = document.createElement('div');
                        collist4.setAttribute('class', 'col-6 col-sm-6 col-md-2 col-lg-2 d-flex bt_listbooking');
                        collist4.setAttribute('style', 'align-items: center');
                        const textlist4 = document.createElement('div');
                        textlist4.textContent = "วันเช็คเอ้าท์: " + idnum_booking[index].checkout

                        const collist6 = document.createElement('div');
                        collist6.setAttribute('class', 'col-12 col-sm-6 col-md-2 col-lg-2 d-flex bt_listbooking justify-content-center');
                        collist6.setAttribute('style', 'align-items: center');
                        const textlist6 = document.createElement('div');
                        textlist6.textContent = "เลขห้อง: " + idnum_booking[index].num_room



                        const btn_div = document.createElement('div');
                        btn_div.setAttribute('class', 'col-12 col-sm-6 col-md-2 col-lg-2 d-flex justify-content-center');

                        const btn_detail = document.createElement('div');
                        btn_detail.setAttribute('class', 'btn btn-secondary');
                        btn_detail.setAttribute('type', 'button');
                        btn_detail.textContent = "ดูรายละเอียด"

                        btn_div.appendChild(btn_detail);



                        collist1.appendChild(textlist1);
                        collist2.appendChild(textlist2);
                        collist3.appendChild(textlist3);
                        collist4.appendChild(textlist4);
                        collist6.appendChild(textlist6);
                        collist5.appendChild(textlist5);

                        rowlist.appendChild(collist1);
                        rowlist.appendChild(collist2);
                        rowlist.appendChild(collist3);
                        rowlist.appendChild(collist4);
                        rowlist.appendChild(collist6);
                        rowlist.appendChild(collist5);
                        // rowlist.appendChild(btn_div);
                        cardlist.appendChild(rowlist);
                        cardlistbooking.appendChild(cardlist);



                    }



                }


            });

        }
    }
</script>