<section id="checkbooking" style="padding-top: 50px">
    <div class="container">
        <div class="checkbooking-section">


            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="กรอกรหัสการจองหรือเบอร์โทรศัพท์" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">รหัสการจอง/เบอร์โทรศัพท์</button>
            </form>


            <!-- footer -->
            <footer-component></footer-component>
            <!-- footer -->



        </div>
    </div>
</section>