<section id="contract">
    <div class="h-100" style="position: relative;">
        <div class="bg-image" style="
  background-image: url('testbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(4px);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
"></div>
        <div class="container pt-5" style=" position: relative;background-color: rgba(255, 255, 255, 0.6)"></div>
    </div>
</section>