<section id="contact" style="position: relative;">
    <!-- <div class="backgroundpage-image"></div> -->
    <div
        class="container pt-5 d-flex flex-column justify-content-between align-items-center min-vh-100"
        style="background-color: rgba(255, 255, 255, 0.6);">
        <div class="container pt-5">

            <div class="card mb-5 cardcontact">
                <div class="text-center fs-1 mb-2 fw-semibold text-sky">
                    Contact Us
                </div>
                <div class="row text-center ">
                    <div
                        class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex justify-content-center">
                        <div class="reccontact  mb-5 w-100">
                            <i
                                class="fa-sharp fa-solid fa-location-dot fa-3x mb-2"></i>
                            <div class="headaddress fs-5 ">ที่อยู่</div>
                            <div class="textaddress reccontact-text">99/9
                                Phahonyothin Road, 57000
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex justify-content-center">
                        <div class="reccontact  mb-5 w-100">
                            <i class="fa-regular fa-clock fa-3x mb-2"></i>
                            <div class="headaddress fs-5">ให้บริการ</div>
                            <div class="textaddress reccontact-text">08:00 -
                                23:30
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex justify-content-center">
                        <div class="reccontact  mb-5 w-100">
                            <i class="fa-regular fa-envelope fa-3x mb-2"></i>
                            <div class="headaddress fs-5">อีเมลล์</div>
                            <div class="textaddress reccontact-text">HotelBS@gmail.com</div>
                        </div>
                    </div>
                    <div
                        class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex justify-content-center">
                        <div class="reccontact  mb-5 w-100">
                            <i class="fa-solid fa-phone fa-3x mb-2"></i>
                            <div class="headaddress fs-5">โทรศัพท์</div>
                            <div class="textaddress reccontact-text">012-345-6789</div>
                        </div>
                    </div>

                </div>

                <div class="row ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <iframe class="w-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7503.869317809916!2d99.8326315590942!3d19.884980806854326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d70615c3c134bf%3A0x663d1dc23cc5e2e4!2sCentral%20Chiangrai!5e0!3m2!1sen!2sth!4v1685568471037!5m2!1sen!2sth"
                            style="border:0;height: 22rem;" allowfullscreen
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="boxtact">
                            <div class="first mb-3">
                                <label for="exampleFormControlInput1"
                                    class="form-label">ชื่อ-นามสกุล</label>
                                <input type="email" class="form-control"
                                    id="exampleFormControlInput1"
                                    placeholder="กรอกชื่อนามกุล">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1"
                                    class="form-label">อีเมลล์</label>
                                <input type="email" class="form-control"
                                    id="exampleFormControlInput1"
                                    placeholder="กรอกอีเมลล์">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1"
                                    class="form-label">เบอร์โทรศัพท์</label>
                                <input type="email" class="form-control"
                                    id="exampleFormControlInput1"
                                    placeholder="กรอกเบอร์โทรศัพท์">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1"
                                    class="form-label">ข้อมูลเพิ่มเติม</label>
                                <textarea class="form-control"
                                    id="exampleFormControlTextarea1" rows="3"
                                    placeholder="กรอกข้อมูลเพิ่มเติม"></textarea>
                            </div>
                            <button type="button" class="btn btn-secondary w-25"
                                onclick>ส่ง</button>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
        <footer-component></footer-component>
    </div>
    <!-- <div class="setcontrainer  pt-5  min-vh-100">
        <div class="container" style="height: 100%;">

            <div class="p-5" style="background-color: rgba(255, 255, 255, 0.75)">

            </div>
        </div>
        <footer-component></footer-component>
    </div> -->
</section>

<style>
    .setcontrainer {
        flex-grow: 1;
    }

    .backgroundpage-image {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-image: url('หน้าโรงแรม.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(10px);
        /* Adjust the blur value as desired */
        z-index: -1;
        transform: scale(1.1);
    }
</style>