<section id="home" style="margin-top: 1rem">

    <div class="h-100" style="position: relative;">
        <div class="bg-image" style="
  background-image: url('testbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(4px);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
"></div>

        <div class="container" style=" position: relative;background-color: rgba(255, 255, 255, 0.6)">
            <div class="home-section">
                <!-- welcome -->
                <div class="px-4 py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="hotel.png" alt="" width="72" height="57" />
                    <h1 class="display-5 fw-bold">โรงแรมบีเอส ยินดีต้อนรับ</h1>
                    <div class="col-lg-6 mx-auto">
                        <div class="lead">
                            โรงแรมบีเอส ปราจีนบุรี ตั้งอยู่ใจกลาง อำเภอเมืองปราจีนบุรี มีพนักงานต้อนรับตลอด 24 ชั่วโมง ทุกห้องพักถูกออกแบบให้มีความสะดวกสบาย เหมาะกับการพักผ่อน มีเครื่องใช้ไฟฟ้าครบครัน พร้อมทั้งอินเตอร์เน็ตความเร็วสูง
                        </div>
                    </div>
                </div>
                <!-- welcome -->

                <!-- img Carousel -->
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="deluxe.jpeg" class="d-block w-100 mh-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="superior4.jpg" class="d-block w-100 mh-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="standard4.jpg" class="d-block w-100 mh-100" alt="..." />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
                </div>
                <!-- img Carousel -->


                <div class="d-flex justify-content-center fs-2 fw-semibold py-4">
                    ห้องพักและอาหาร
                </div>
                <!-- rooms -->
                <div class="row gy-2">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100" style="cursor: pointer" href="#booking" onclick="sign_room('1')">
                            <div class="p-2">
                                <img src="standard.jpg" class="img-fluid" />
                            </div>
                            <div class="box-padding">
                                <h5 class="card-title fw-bold">ห้องธรรมดา</h5>
                                <p class="card-text">
                                    เป็นห้องพักแบบมาตรฐานทั่วไป มีสิ่งอำนวนความสะดวกเท่าที่จำเป็น เช่น เตียงนอน ห้องน้ำ ทีวี แอร์
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100" style="cursor: pointer" href="#booking" onclick="sign_room('3')">
                            <div class="p-2">
                                <img src="superior.jpeg" class="img-fluid" />
                            </div>
                            <div class="box-padding">
                                <h5 class="card-title fw-bold">ห้องซูพีเรีย</h5>
                                <p class="card-text">
                                    เป็นห้องพักที่มีขนาดกว้างกว่าแบบสแตนดาร์ดขึ้นมาเล็กน้อย มีสิ่งอำนวยความสะดวกเพิ่มขึ้น 1-2 ชิ้น
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100" style="cursor: pointer" href="#booking" onclick="sign_room('5')">
                            <div class="p-2"><img src="deluxe.jpeg" class="img-fluid" /></div>
                            <div class="box-padding">
                                <h5 class="card-title fw-bold">ห้องดีลักซ์</h5>
                                <p class="card-text">
                                    เป็นห้องที่หรูหราขึ้นมา มีการตกแต่งที่สวยงาม เตียงขนาดใหญ่ พร้อมทั้งมีสิ่งอำนวยความสะดวกครบครัน
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100" style="cursor: pointer" href="#booking" onclick="sign_room('7')">
                            <div class="p-2"><img src="suite.jpeg" class="img-fluid" /></div>
                            <div class="box-padding">
                                <h5 class="card-title fw-bold">ห้องสวีท</h5>
                                <p class="card-text">
                                    เป็นห้องพักที่มีห้องนั่งเล่น สิ่งอำนวยความสะดวกต่างๆครบครัน พื้นที่กว้างมากกว่า มีการตกแต่งที่หรูหรา
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- block1 -->
                <div class="container col-xl-10 py-3">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
                        <div class="col-lg-6">
                            <img src="prefront.jpg" class="d-block mx-lg-auto img-block1" alt="Bootstrap Themes" width="700" height="500" loading="lazy" />
                        </div>
                        <div class="col-lg-6">
                            <h1 class="display-5 fw-bold fs-2 mb-3">
                                บริการดีทุกระดับประทับใจ
                            </h1>
                            <p class="lead">
                                ทางเราให้บริการด้วยความเต็มใจ พร้อมให้คุณได้สมผัสบรรยากาศการพักผ่อนที่ประทับใจ มีสิ่งอำนวยความสะดวกครบครัน และที่พักของเรายังใกล้กับสถานที่ท่องเที่ยวมากมาย คุณสามารถเดินทางไปในระยะเวลาที่สั้น และเพลิดเพลินกับการท่องเที่ยว
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button type="button" class="btn btn btn-secondary btn-lg px-4 me-md-2">เกี่ยวกับเรา</button>
                                <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">เกี่ยวกับเรา</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- block1 -->

                <!-- แนะนำอาหาร -->
                <div class="recfood row pt-2 px-2">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="bf1.jpg" class="d-block w-100" alt="..." />
                                    <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255, 255, 255, 0.8)">
                                        <h5>อาหารเช้าเบา ๆ สไตล์ยุโรป</h5>
                                        <p>
                                            ประกอบด้วย ผลไม้ เบเกอรี่ ขนมปัง ซีเรียล แยม กาแฟ น้ำผลไม้ โยเกิร์ตหรือเนื้อ
                                        </p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="bf2.jpg" class="d-block w-100" alt="..." />
                                    <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255, 255, 255, 0.8)">
                                        <h5>อาหารเช้าจัดหนักสไตล์อังกฤษ</h5>
                                        <p>
                                            ประกอบด้วย ไส้กรอก ขนมปังปิ้ง ถั่ว เบคอน ไข่ และผักอย่างมะเขือเทศ เห็ดกับชา กาแฟหรือน้ำผลไม้
                                        </p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="bf3.jpg" class="d-block w-100" alt="..." />
                                    <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255, 255, 255, 0.8)">
                                        <h5>อาหารเช้าแบบอเมริกันที่คนไทยคุ้นเคย</h5>
                                        <p>
                                            ประกอบด้วย ไข่ดาว ไข่คน ไข่ต้ม ไข่ลวก ไส้กรอก และเบคอน ขนมปังปิ้งกับเนยหรือแยม ซีเรียล
                                        </p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="bf4.jpg" class="d-block w-100" alt="..." />
                                    <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255, 255, 255, 0.8)">
                                        <h5>อาหารเช้าโรงแรม แบบ Buffet และ Local Breakfast</h5>
                                        <p>
                                            มีอาหารให้เลือกมากมาย ไม่ว่าจะเป็นเบเกอรี่ ไข่ เบคอน ไส้กรอก อาหารจำพวกเนื้อสัตว์ ผักต่าง ๆ ไปจนถึงเครื่องดื่ม
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column">
                        <div class="fs-2 fw-semibold">อาหารเช้าหลากหลาย</div>
                        <div class="">
                            อาหารหลากหลายตามความต้องการ ไม่ว่าจะเป็น ไข่ เนื้อ ขนมปัง ผักและผลไม้ต่างๆ รวมทั้งยังมีเมนูอีกมากมาย
                        </div>
                        <div class="">ให้บริการ 08:00 - 18:00</div>
                    </div>
                </div>
                <!-- แนะนำอาหาร -->
                <!-- แนะนำสปา -->
                <div class="recfood row pt-2 px-2">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column">
                        <div class="fs-2 fw-semibold">บริการสปานวด</div>
                        <div class="">
                            ผ่อนคลายด้วยบริการนวดจากเรา ช่วยให้คุณได้พักผ่อนร่างกาย บำบัดอาการปวดเมื่อยกล้ามเนื้อ หลับสบายยิ่งขึ้น
                        </div>
                        <div class="">ให้บริการ 17:00 - 21:00</div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="spa1.jpg" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="spa2.jpg" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="spa3.jpg" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="spa4.jpg" class="d-block w-100" alt="..." />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- แนะนำสปา -->
                <!-- แนะนำฟิตเนส -->
                <div class="recfood row pt-2 px-2">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="5000">
                                    <img src="fit1.jpg" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="fit2.jpg" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="fit3.webp" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <img src="fit4.jpg" class="d-block w-100" alt="..." />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column">
                        <div class="fs-2 fw-semibold">ฟิตเนสออกกำลังกาย</div>
                        <p class="">
                            ออกกำลังกายด้วยอุปกรณ์ที่ครบครันให้คุณได้เล่น พร้อมเทรนเนอร์ที่จะค่อยแนะนำช่วยเหลือ และให้คำปรึกษาเกี่ยวกับร่างกาย
                        </p>
                        <div class="">ให้บริการ 08:00 - 20:00</div>
                    </div>
                </div>
                <!-- แนะนำฟิตเนส -->


                <!-- rooms -->






                <div class="py-3 d-flex justify-content-center fs-2 fw-semibold">
                    สถานที่ท่องเที่ยว
                </div>

                <!-- attraction -->
                <div class="row gy-2">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction1.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">วัดร่องขุ่น</h5>
                                <div class="">สัญลักษณ์ประจำจังหวัดเชียงรายโดยอาจารย์เฉลิมชัย แสดงถึงสิ่งยึดเหนี่ยวจิตใจ</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 08:00-18:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.com/maps/place/Wat+Rong+Khun+-+White+Temple/@19.8232669,99.7601336,17z/data=!4m14!1m7!3m6!1s0x30d7b7dfce59940f:0x2afcd50d8eacb7a3!2sWat+Rong+Khun+-+White+Temple!8m2!3d19.8232669!4d99.7627085!16s%2Fm%2F02rvrrj!3m5!1s0x30d7b7dfce59940f:0x2afcd50d8eacb7a3!8m2!3d19.8232669!4d99.7627085!16s%2Fm%2F02rvrrj?hl=en&entry=ttu"
                                        class=" btn btn-primary">ขอเส้นทาง</a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">18 km.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction2.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">น้ำตกห้วยแก้ว</h5>
                                <div class="">เป็นอุทยานแห่งชาติลำน้ำกก น้ำตกขนาดใหญ่ 3 ชั้น</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 08:00-18:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.co.th/maps/place/%E0%B8%99%E0%B9%89%E0%B8%B3%E0%B8%95%E0%B8%81%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B9%81%E0%B8%81%E0%B9%89%E0%B8%A7/@18.8118467,98.9423571,17z/data=!3m1!4b1!4m6!3m5!1s0x30da3a388d214c4d:0xde8d40a68cd95e0b!8m2!3d18.8118467!4d98.9445458!16s%2Fg%2F1tftnj72?hl=th"
                                        class=" btn btn-primary">ขอเส้นทาง</a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">48 km.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction3.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">ลอฟ เฮ้าส์ คาเฟ่</h5>
                                <div class="">คาเฟ่โทนดาร์ก สไตล์ญี่ปุ่นภายใต้คอนเซ็ป ลอฟท์เฮาส์ อิน มาบะ</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 09:00-17:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.com/maps/place/VR4V%2BV56+Loft+house+cafe+Unnamed+Road+Tha+Sai,+Mueang+Chiang+Rai+District,+Chiang+Rai+57000/@19.8571623,99.842892,17z/data=!4m9!1m2!2m1!1z4Lil4Lit4LifIOC5gOC4ruC5ieC4suC4quC5jCDguITguLLguYDguJ_guYg!3m5!1s0x30d70910df462303:0xb49eba07c754d48f!8m2!3d19.8571623!4d99.842892!16s%2Fg%2F11rbf4glv0"
                                        class=" btn btn-primary">ขอเส้นทาง
                  </a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">21 km.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction4.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">ภูชี้ฟ้า</h5>
                                <div class="">จุดชมวิวทะเลหมอกและพระอาทิตย์ขึ้นที่สวยงามของดอยผาหม่น</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 08:00-17:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.co.th/maps/place/Phu+Chifa/@19.8505551,100.4451341,15z/data=!3m1!4b1!4m6!3m5!1s0x30d7d01978dac17d:0x1d0100b2deabcfc0!8m2!3d19.8505556!4d100.4538889!16s%2Fm%2F0j3gjyy?hl=th" class=" btn btn-primary">ขอเส้นทาง
                  </a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">63 km.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- attraction -->
                <!-- attraction -->
                <div class="row gy-2 mt-3">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction1.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">วัดร่องขุ่น</h5>
                                <div class="">สัญลักษณ์ประจำจังหวัดเชียงรายโดยอาจารย์เฉลิมชัย แสดงถึงสิ่งยึดเหนี่ยวจิตใจ</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 08:00-18:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.com/maps/place/Wat+Rong+Khun+-+White+Temple/@19.8232669,99.7601336,17z/data=!4m14!1m7!3m6!1s0x30d7b7dfce59940f:0x2afcd50d8eacb7a3!2sWat+Rong+Khun+-+White+Temple!8m2!3d19.8232669!4d99.7627085!16s%2Fm%2F02rvrrj!3m5!1s0x30d7b7dfce59940f:0x2afcd50d8eacb7a3!8m2!3d19.8232669!4d99.7627085!16s%2Fm%2F02rvrrj?hl=en&entry=ttu"
                                        class=" btn btn-primary">ขอเส้นทาง</a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">18 km.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction2.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">น้ำตกห้วยแก้ว</h5>
                                <div class="">เป็นอุทยานแห่งชาติลำน้ำกก น้ำตกขนาดใหญ่ 3 ชั้น</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 08:00-18:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.co.th/maps/place/%E0%B8%99%E0%B9%89%E0%B8%B3%E0%B8%95%E0%B8%81%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B9%81%E0%B8%81%E0%B9%89%E0%B8%A7/@18.8118467,98.9423571,17z/data=!3m1!4b1!4m6!3m5!1s0x30da3a388d214c4d:0xde8d40a68cd95e0b!8m2!3d18.8118467!4d98.9445458!16s%2Fg%2F1tftnj72?hl=th"
                                        class=" btn btn-primary">ขอเส้นทาง</a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">48 km.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction3.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">ลอฟ เฮ้าส์ คาเฟ่</h5>
                                <div class="">คาเฟ่โทนดาร์ก สไตล์ญี่ปุ่นภายใต้คอนเซ็ป ลอฟท์เฮาส์ อิน มาบะ</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 09:00-17:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.com/maps/place/VR4V%2BV56+Loft+house+cafe+Unnamed+Road+Tha+Sai,+Mueang+Chiang+Rai+District,+Chiang+Rai+57000/@19.8571623,99.842892,17z/data=!4m9!1m2!2m1!1z4Lil4Lit4LifIOC5gOC4ruC5ieC4suC4quC5jCDguITguLLguYDguJ_guYg!3m5!1s0x30d70910df462303:0xb49eba07c754d48f!8m2!3d19.8571623!4d99.842892!16s%2Fg%2F11rbf4glv0"
                                        class=" btn btn-primary">ขอเส้นทาง
                  </a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">21 km.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img src="attraction4.jpg" class="img-fluid" alt="..." />
                            <div class="box-padding">
                                <h5 class="card-title">ภูชี้ฟ้า</h5>
                                <div class="">จุดชมวิวทะเลหมอกและพระอาทิตย์ขึ้นที่สวยงามของดอยผาหม่น</div>
                                <div class="">เปิด จันทร์-อาทิตย์ </div>
                                <div class="">เวลา 08:00-17:00 </div>
                            </div>
                            <div class="box-padding mt-auto row">
                                <div class="w-50">
                                    <a href="https://www.google.co.th/maps/place/Phu+Chifa/@19.8505551,100.4451341,15z/data=!3m1!4b1!4m6!3m5!1s0x30d7d01978dac17d:0x1d0100b2deabcfc0!8m2!3d19.8505556!4d100.4538889!16s%2Fm%2F0j3gjyy?hl=th" class=" btn btn-primary">ขอเส้นทาง
                  </a>
                                </div>
                                <div class="w-50 d-flex justify-content-end align-items-center fs-5">63 km.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- attraction -->
                <!-- footer -->
                <footer class="py-3 mt-5">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                        <li class="nav-item"><a href="#home" onclick="showSection('home')" class="nav-link px-2 text-muted">หน้าหลัก</a></li>
                        <li class="nav-item"><a href="#rooms" onclick="showSection('rooms')" class="nav-link px-2 text-muted">ห้องพัก</a></li>
                        <li class="nav-item"><a href="#booking" onclick="showSection('booking'),booking_search()" class="nav-link px-2 text-muted">จองห้องพัก</a></li>
                        <li class="nav-item">
                            <a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-youtube"></i></a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">ติดต่อ 0123456789</a></li>

                    </ul>
                    <p class="text-center text-muted">© 2023 โรงแรมบีเอส</p>
                </footer>
                <!-- footer -->
            </div>
        </div>
    </div>



</section>

<script>
    function sign_room(id) {
        document.getElementById("roomstype").value = id;
        document.getElementById("searchbtn").click();
    }
</script>