<section id="home" style="padding-top: 50px">
  <div class="container">
    <div class="home-section">
      <!-- welcome -->
      <div class="px-4 py-5 text-center">
        <img class="d-block mx-auto mb-4" src="hotel.png" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">โรงแรมบีเอส ยินดีต้อนรับ</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">โรงแรมบีเอส ปราจีนบุรี ตั้งอยู่ใจกลาง อำเภอเมืองปราจีนบุรี มีพนักงานต้อนรับตลอด 24 ชั่วโมง ทุกห้องพักถูกออกแบบให้มีความสะดวกสบาย เหมาะกับการพักผ่อน มีเครื่องใช้ไฟฟ้าครบครัน พร้อมทั้งอินเตอร์เน็ตความเร็วสูง
          </p>
        </div>
      </div>
      <!-- welcome -->

      <div class="d-flex justify-content-center fs-2 fw-semibold">ห้องพัก</div>
      <!-- rooms -->
      <div class="row gy-2">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('1')">
            <img src="standard.jpg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">สแตนดาร์ด</h5>
              <p class="card-text"> เป็นห้องพักแบบมาตรฐานทั่วไป มีสิ่งอำนวนความสะดวกเท่าที่จำเป็น เช่น เตียงนอน ห้องน้ำ ทีวี แอร์
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('2')">
            <img src="superior.jpeg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">ซูพีเรีย</h5>
              <p class="card-text">เป็นห้องพักที่มีขนาดกว้างกว่าแบบสแตนดาร์ดขึ้นมาเล็กน้อย มีสิ่งอำนวยความสะดวกเพิ่มขึ้น 1-2 ชิ้น</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('3')">
            <img src="deluxe.jpeg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">ดีลักซ์</h5>
              <p class="card-text">เป็นห้องที่หรูหราขึ้นมา มีการตกแต่งที่สวยงาม เตียงขนาดใหญ่ พร้อมทั้งมีสิ่งอำนวยความสะดวกครบครัน
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('4')">
            <img src="suite.jpeg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">สวีท</h5>
              <p class="card-text">เป็นห้องพักที่มีห้องนั่งเล่น สิ่งอำนวยความสะดวกต่างๆครบครัน พื้นที่กว้างมากกว่า มีการตกแต่งที่หรูหรา</p>
            </div>
          </div>
        </div>
      </div>
      <!-- rooms -->



      <!-- img Carousel -->
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade py-3 mt-4" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="rechotel1.jpg" class="d-block w-100 mh-100 " alt="...">

          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="rechotel2.jpg" class="d-block w-100 mh-100 " alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="rechotel3.jpg" class="d-block w-100  mh-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- img Carousel -->

      <!-- block1 -->
      <div class="container col-xl-10 py-3">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
          <div class="col-lg-6">
            <img src="mainpage.jpg" class="d-block mx-lg-auto img-block1" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">บริการดีทุกระดับประทับใจ</h1>
            <p class="lead">ทางเราให้บริการด้วยความเต็มใจ พร้อมให้คุณได้สมผัสบรรยากาศการพักผ่อนที่ประทับใจ มีสิ่งอำนวยความสะดวกครบครัน และที่พักของเรายังใกล้กับสถานที่ท่องเที่ยวมากมาย คุณสามารถเดินทางไปในระยะเวลาที่สั้น และเพลิดเพลินกับการท่องเที่ยว</p>
            <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">รีวิว</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">เกี่ยวกับเรา</button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- block1 -->


      <div class="d-flex justify-content-center fs-2 fw-semibold">สถานที่ท่องเที่ยว</div>

      <!-- attraction -->
      <div class="row gy-2 py-4 ">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100">
            <img src="attraction1.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">วัดร่องขุ่น</h5>
              <p class="card-text"> ผลงานชิ้นเอกจากอาจารย์เฉลิมชัย จนกลายมาเป็นสิ่งยึดเหนี่ยวจิตใจ สัญลักษณ์ประจำจังหวัดเชียงราย และกลายเป็นสถานที่สำคัญระดับประเทศ
              </p>
            </div>
            <div class="box-padding mt-auto"><a href="https://www.google.co.th/maps/place/%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%A3%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B8%82%E0%B8%B8%E0%B9%88%E0%B8%99/@19.8241697,99.7614605,17z/data=!3m1!4b1!4m6!3m5!1s0x30d7b7dfce59940f:0x2afcd50d8eacb7a3!8m2!3d19.8241697!4d99.7636492!16s%2Fm%2F02rvrrj?hl=th" class=" btn btn-primary ">ขอเส้นทาง</a></div>

          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100">
            <img src="attraction2.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">น้ำตกห้วยแก้ว</h5>
              <p class="card-text"> ตั้งอยู่ในเขตของ อุทยานแห่งชาติลำน้ำกก บริเวณบ้านโป่งน้ำร้อน ตำบลดอยฮาง อำเภอเมืองเชียงราย จังหวัดเชียงราย เป็นน้ำตกขนาดใหญ่ 3 ชั้น
              </p>
            </div>
            <div class="box-padding mt-auto"><a href="https://www.google.co.th/maps/place/%E0%B8%99%E0%B9%89%E0%B8%B3%E0%B8%95%E0%B8%81%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B9%81%E0%B8%81%E0%B9%89%E0%B8%A7/@18.8118467,98.9423571,17z/data=!3m1!4b1!4m6!3m5!1s0x30da3a388d214c4d:0xde8d40a68cd95e0b!8m2!3d18.8118467!4d98.9445458!16s%2Fg%2F1tftnj72?hl=th" class=" btn btn-primary ">ขอเส้นทาง</a></div>

          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100 ">
            <img src="attraction3.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">ลอฟ เฮ้าส์ คาเฟ่</h5>
              <p class="card-text">เป็นคาเฟ่โทนดาร์กที่ทำการปรับเปลี่ยนเป็นสไตล์ญี่ปุ่นภายใต้คอนเซ็ป "ลอฟท์เฮาส์ อิน มาบะ"
              </p>
            </div>
            <div class="box-padding mt-auto"><a href="https://www.google.com/maps/place/VR4V%2BV56+Loft+house+cafe+Unnamed+Road+Tha+Sai,+Mueang+Chiang+Rai+District,+Chiang+Rai+57000/@19.8571623,99.842892,17z/data=!4m9!1m2!2m1!1z4Lil4Lit4LifIOC5gOC4ruC5ieC4suC4quC5jCDguITguLLguYDguJ_guYg!3m5!1s0x30d70910df462303:0xb49eba07c754d48f!8m2!3d19.8571623!4d99.842892!16s%2Fg%2F11rbf4glv0" class=" btn btn-primary ">ขอเส้นทาง</a></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100">
            <img src="attraction4.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">ภูชี้ฟ้า</h5>
              <p class="card-text">เป็นส่วนหนึ่งของดอยผาหม่น อยู่ห่างจากดอยผาตั้ง 25 กิโลเมตร เป็นจุดชมวิวทะเลหมอกและพระอาทิตย์ขึ้นที่สวยงามราวกับภาพวาดและมีชื่อเสียงเป็นอย่างยิ่งในประเทศไทย</p>
            </div>
            <div class="box-padding mt-auto"><a href="https://www.google.co.th/maps/place/Phu+Chifa/@19.8505551,100.4451341,15z/data=!3m1!4b1!4m6!3m5!1s0x30d7d01978dac17d:0x1d0100b2deabcfc0!8m2!3d19.8505556!4d100.4538889!16s%2Fm%2F0j3gjyy?hl=th" class=" btn btn-primary ">ขอเส้นทาง</a></div>
          </div>
        </div>
      </div>
      <!-- attraction -->

      <!-- footer -->
      <footer-component></footer-component>
      <!-- footer -->



    </div>
  </div>
</section>

<script>
  function sign_room(id) {
    document.getElementById("roomstype").value = id;
    document.getElementById('searchbtn').click();
  }
</script>