<section id="home" style="padding-top: 50px">
  <div class="container">
    <div class="home-section">
      <!-- welcome -->
      <div class="px-4 py-5 text-center">
        <img class="d-block mx-auto mb-4" src="hotel.png" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">โรงแรมบีเอส ยินดีต้อนรับ</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">โรงแรมบีเอส ปราจีนบุรี ตั้งอยู่ใจกลาง อำเภอเมืองปราจีนบุรี มีพนักงานต้อนรับตลอด 24 ชั่วโมง ทุกห้องพักถูกออกแบบให้มีความสะดวกสบาย เหมาะกับการพักผ่อน มีเครื่องใช้ไฟฟ้าครบครัน พร้อมทั้งอินเตอร์เน็ตความเร็วสูง
          </p>
        </div>
      </div>
      <!-- welcome -->

      <!-- rooms -->
      <div class="row gy-2">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('1')">
            <img src="standard.jpg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">สแตนดาร์ด</h5>
              <p class="card-text"> เป็นห้องพักแบบมาตรฐานทั่วไป มีสิ่งอำนวนความสะดวกเท่าที่จำเป็น เช่น เตียงนอน ห้องน้ำ ทีวี แอร์
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('2')">
            <img src="superior.jpeg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">ซูพีเรีย</h5>
              <p class="card-text">เป็นห้องพักที่มีขนาดกว้างกว่าแบบสแตนดาร์ดขึ้นมาเล็กน้อย มีสิ่งอำนวยความสะดวกเพิ่มขึ้น 1-2 ชิ้น</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('3')">
            <img src="deluxe.jpeg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">ดีลักซ์</h5>
              <p class="card-text">เป็นห้องที่หรูหราขึ้นมา มีการตกแต่งที่สวยงาม เตียงขนาดใหญ่ พร้อมทั้งมีสิ่งอำนวยความสะดวกครบครัน
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100" href="#booking" onclick="sign_room('4')">
            <img src="suite.jpeg" class="img-fluid">
            <div class="box-padding">
              <h5 class="card-title fw-bold">สวีท</h5>
              <p class="card-text">เป็นห้องพักที่มีห้องนั่งเล่น สิ่งอำนวยความสะดวกต่างๆครบครัน พื้นที่กว้างมากกว่า มีการตกแต่งที่หรูหรา</p>
            </div>
          </div>
        </div>
      </div>
      <!-- rooms -->



      <!-- img Carousel -->
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade py-3" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="rechotel1.jpg" class="d-block w-100  " alt="...">

          </div>
          <div class="carousel-item">
            <img src="rechotel2.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="rechotel3.jpg" class="d-block w-100 " alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- img Carousel -->

      <!-- block1 -->
      <div class="container col-xl-10 py-3">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
          <div class="col-lg-6">
            <img src="mainpage.jpg" class="d-block mx-lg-auto img-block1" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">บริการดีทุกระดับประทับใจ</h1>
            <p class="lead">ทางเราให้บริการด้วยความเต็มใจ พร้อมให้คุณได้สมผัสบรรยากาศการพักผ่อนที่ประทับใจ มีสิ่งอำนวยความสะดวกครบครัน และที่พักของเรายังใกล้กับสถานที่ท่องเที่ยวมากมาย คุณสามารถเดินทางไปในระยะเวลาที่สั้น และเพลิดเพลินกับการท่องเที่ยว</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">รีวิว</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">เกี่ยวกับเรา</button>
            </div>
          </div>
        </div>
      </div>
      <!-- block1 -->


      <!-- attraction -->
      <div class="row gy-2 py-4">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100">
            <img src="attraction1.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">สแตนดาร์ด</h5>
              <p class="card-text"> เป็นห้องพักแบบมาตรฐานทั่วไป มีสิ่งอำนวนความสะดวกเท่าที่จำเป็น เช่น เตียงนอน ห้องน้ำ ทีวี แอร์
              </p>
            </div>
            <div class="box-padding mt-auto"><a href="#" class=" btn btn-primary ">ขอเส้นทาง</a></div>

          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100">
            <img src="attraction2.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">ซูพีเรีย</h5>
              <p class="card-text">เป็นห้องพักที่มีขนาดกว้างกว่าแบบสแตนดาร์ดขึ้นมาเล็กน้อย มีสิ่งอำนวยความสะดวกเพิ่มขึ้น 1-2 ชิ้น</p>
              <a href="#" class="btn btn-primary ">ขอเส้นทาง</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100">
            <img src="attraction3.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">ดีลักซ์</h5>
              <p class="card-text">เป็นห้องที่หรูหราขึ้นมา มีการตกแต่งที่สวยงาม เตียงขนาดใหญ่ พร้อมทั้งมีสิ่งอำนวยความสะดวกครบครัน
              </p>
            </div>
            <div class="box-padding mt-auto"><a href="#" class=" btn btn-primary ">ขอเส้นทาง</a></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card h-100">
            <img src="attraction4.jpg" class="img-fluid" alt="...">
            <div class="box-padding">
              <h5 class="card-title">สวีท</h5>
              <p class="card-text">เป็นห้องพักที่มีห้องนั่งเล่น สิ่งอำนวยความสะดวกต่างๆครบครัน พื้นที่กว้างมากกว่า มีการตกแต่งที่หรูหรา</p>
            </div>
            <div class="box-padding mt-auto"><a href="#" class=" btn btn-primary ">ขอเส้นทาง</a></div>
          </div>
        </div>
      </div>
      <!-- attraction -->

      <!-- footer -->
      <footer-component></footer-component>
      <!-- footer -->

    </div>
  </div>
</section>

<script>
  function sign_room(id) {
    document.getElementById("roomstype").value = id;
    document.getElementById('searchbtn').click();
  }
</script>