<section id="rooms" style="padding-top: 50px">

    <div class="container">
        <!-- attraction -->
        <div class="row gy-2 py-4 mx-auto w-100 ">




            <div class="col-sm-12 col-md-12 col-lg-12 carousel-fade">
                <div class="card">
                    <div class="d-flex justify-content-center fs-2 fw-semibold mt-1">แสตนดาร์ด</div>

                    <!-- img Carousel -->
                    <div id="carouselExampleIndicators0" class="carousel slide carousel-fade py-3" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="standard1.jpg" class="d-block w-100 " alt="...">

                            </div>
                            <div class="carousel-item">
                                <img src="standard2.jpg" class="d-block w-100 " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="standard3.jpg" class="d-block w-100 " alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- img Carousel -->
                    <div class="detailsroom box-padding ">
                        <div class="head-fa fw-semibold fs-4">รายละเอียดห้อง</div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="row d-flex ">
                                    <div class="d-l fs-5">ขนาดห้อง 36 ตรม.</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="d-l fs-5">ราคา
                                    <cl>450</cl>
                                    <i class="fa-solid fa-baht-sign"></i> /คืน
                                </div>
                            </div>
                        </div>

                        <div class="facilities fs-4">
                            <div class="head-fa fw-semibold">สิ่งอำนวยความสะดวก</div>

                            <div class="row fs-5 ">
                                <div class="row col-sm-6 col-md-6 col-lg-3 d-inline">
                                    <ic class="fa-solid fa-wifi text-center" style="width: 3rem;"></ic>
                                    อินเทอร์เน็ต
                                </div>

                                <div class="row col-sm-6 col-md-6 col-lg-3 d-inline">
                                    <ic class="fa-solid fa-temperature-half text-center" style="width: 3rem;"></ic>
                                    ตู้เย็น
                                </div>

                                <div class="row col-sm-6 col-md-6 col-lg-3 d-inline">
                                    <ic class="fa-solid fa-shower text-center" style="width: 3rem;"></ic>
                                    เครื่องทำน้ำอุ่น
                                </div>
                                <div class="row col-sm-6 col-md-6 col-lg-3 d-inline">

                                    <ic class="fa-solid fa-utensils text-center" style="width: 3rem;"></ic>
                                    อาหารเช้า
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="box-padding mt-auto d-flex justify-content-center">
                        <a href="#" class=" btn btn-primary fw-semibold fs-5 " onclick="sign_room('1')">
                            จองห้องพัก
                        </a>
                    </div>
                </div>
            </div>



            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="d-flex justify-content-center fs-2 fw-semibold mt-1">ห้องซูพีเรีย</div>
                    <div class="containerroom">




                        <!-- img Carousel -->
                        <div id="carouselExampleIndicators1" class="carousel slide carousel-fade py-3" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="superior1.jpg" class="d-block w-100  " alt="...">

                                </div>
                                <div class="carousel-item">
                                    <img src="superior2.jpg" class="d-block w-100  " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="superior3.jpg" class="d-block w-100  " alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- img Carousel -->

                        <div class="detailsroom box-padding">
                            <div class="head-fa fw-semibold fs-4">รายละเอียดห้อง</div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="row d-flex ">
                                        <div class="d-l fs-5">ขนาดห้อง 40 ตารางเมตร
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="d-l fs-5">ราคา
                                        <cl> 750</cl>
                                        <i class="fa-solid fa-baht-sign"></i> /คืน
                                    </div>
                                </div>
                            </div>
                            <div class="facilities ">
                                <div class="head-fa fw-semibold fs-4">สิ่งอำนวยความสะดวก</div>
                                <div class="row fs-5">
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        Wifi
                                        <ic class="fa-solid fa-wifi"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        แอร์
                                        <ic class="fa-solid fa-wind"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ตู้เย็น
                                        <ic class="fa-solid fa-temperature-half"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        เครื่องทำน้ำอุ่น
                                        <ic class="fa-solid fa-shower"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        อาหารเช้า
                                        <ic class="fa-solid fa-utensils"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ทีวี
                                        <ic class="fa-solid fa-tv"></ic>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box-padding mt-auto d-flex justify-content-center">
                            <div button type="button" class="btn btn-primary fw-semibold fs-5" onclick="sign_room('2')">จองห้องพัก</a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="d-flex justify-content-center fs-2 fw-semibold mt-1">ห้องดีลักซ์</div>
                    <div class="containerroom">

                        <!-- img Carousel -->
                        <div id="carouselExampleIndicators2" class="carousel slide carousel-fade py-3" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="deluxe1.jpg" class="d-block w-100  " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="deluxe2.jpg" class="d-block w-100 " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="deluxe3.jpg" class="d-block w-100 " alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- img Carousel -->


                        <div class="detailsroom box-padding">
                            <div class="head-fa fw-semibold fs-4">รายละเอียด</div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="row d-flex ">
                                        <div class="d-l fs-5">ขนาดห้อง 46 ตารางเมตร

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="d-l fs-5">ราคา
                                        <cl>990</cl>
                                        <i class="fa-solid fa-baht-sign"></i> /คืน
                                    </div>
                                </div>
                            </div>
                            <div class="facilities ">
                                <div class="head-fa fw-semibold fs-4">สิ่งอำนวยความสะดวก</div>

                                <div class="row fs-5">
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        Wifi
                                        <ic class="fa-solid fa-wifi"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        แอร์
                                        <ic class="fa-solid fa-wind"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ตู้เย็น
                                        <ic class="fa-solid fa-temperature-half"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        อ่างอาบน้ำ
                                        <ic class="fa-solid fa-bath"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        เครื่องทำน้ำอุ่น
                                        <ic class="fa-solid fa-shower"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ฟิตเนส
                                        <ic class="fa-solid fa-dumbbell"></ic>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        อาหารเช้า
                                        <ic class="fa-solid fa-utensils"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ทีวี
                                        <ic class="fa-solid fa-tv"></ic>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box-padding mt-auto d-flex justify-content-center"><a href="#" class=" btn btn-primary fw-semibold fs-5" onclick="sign_room('3')">จองห้องพัก</a></div>

                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="d-flex justify-content-center fs-2 fw-semibold mt-1">ห้องสวีท</div>
                    <div class="containerroom">

                        <!-- img Carousel -->
                        <div id="carouselExampleIndicators3" class="carousel slide carousel-fade py-3" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="suite1.jpg" class="d-block w-100  " alt="...">

                                </div>
                                <div class="carousel-item">
                                    <img src="suite2.jpg" class="d-block w-100 " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="suite3.jpg" class="d-block w-100 " alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- img Carousel -->



                        <div class="detailsroom box-padding">
                            <div class="head-fa fw-semibold fs-4">รายละเอียด</div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="row d-flex ">
                                        <div class="d-l fs-5">ขนาดห้อง 52 ตารางเมตร

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="d-l fs-5">ราคา
                                        <cl>1200</cl>
                                        <i class="fa-solid fa-baht-sign"></i> /คืน
                                    </div>
                                </div>
                            </div>
                            <div class="facilities ">
                                <div class="head-fa fw-semibold fs-4">สิ่งอำนวยความสะดวก</div>

                                <div class="row fs-5">
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        Wifi
                                        <ic class="fa-solid fa-wifi"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        แอร์
                                        <ic class="fa-solid fa-wind"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ตู้เย็น
                                        <ic class="fa-solid fa-temperature-half"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        อ่างอาบน้ำ
                                        <ic class="fa-solid fa-bath"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        เครื่องทำน้ำอุ่น
                                        <ic class="fa-solid fa-shower"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ฟิตเนส
                                        <ic class="fa-solid fa-dumbbell"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        สระว่ายน้ำ
                                        <ic class="fa-solid fa-water-ladder"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        อาหารเช้า
                                        <ic class="fa-solid fa-utensils"></ic>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        ทีวี
                                        <ic class="fa-solid fa-tv"></ic>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box-padding mt-auto d-flex justify-content-center"><a href="#" class=" btn btn-primary fw-semibold fs-5" onclick="sign_room('4')">จองห้องพัก</a></div>

                    </div>
                </div>
            </div>
            <!-- attraction -->

            <!-- footer -->
            <footer-component></footer-component>
            <!-- footer -->


        </div>



</section>

<script>
</script>