<section id="rooms" style="position: relative;">
    <div class="backgroundpage-image"></div>


    <div class="container pt-5" style="background-color: rgba(255, 255, 255, 0.6)">





        <!-- attraction -->
        <!-- <div class="row gy-2 py-4 mx-auto w-100 "> -->

        <div class="col-sm-12 col-md-12 col-lg-12 ">
            <div class="card card_r1">
                <div class="d-flex justify-content-between px-3">
                    <div class=" fs-2 fw-semibold mt-1">ห้องธรรมดา</div>
                    <div class=" fs-2 fw-semibold mt-1">450 ฿/คืน</div>
                </div>


                <!-- img Carousel -->
                <div id="carouselExampleIndicators0" class="carousel slide carousel-fade" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="standard1.jpg" class="d-block w-100 " alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="standard2.jpg" class="d-block w-100 " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="standard3.jpg" class="d-block w-100 " alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators0" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>




                <div class="detailsroom ">
                    <div class="card p-2">
                        <div class="head-fa fs-5">รายละเอียดห้อง</div>
                        <div class="row container">

                            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="">ขนาดห้อง 36 ตรม.</div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="">ขนาดเตียง ควีนไซส์</div>
                            </div>
                            <div class=" col-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="">เข้าพักได้ 2 คน</div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                <div class="">ส่วนเสริม ระเบียง</div>
                            </div>
                        </div>
                    </div>

                    <div class="card p-2">
                        <div class="facilities ">
                            <div class="head-fa fs-5">สิ่งอำนวยความสะดวก</div>
                            <div class="row container">
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dry_cleaning</div>
                                    <div class="">ผ้าเช็ดตัว</div>
                                </div>
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                    <div class="">ของใช้ในห้องน้ำ</div>
                                </div>
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="fa-solid fa-shower me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                    <div class="">ฝักบัว</div>
                                </div>
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                    <div class="">ไดร์เป่าผม</div>
                                </div>
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="fa-solid fa-wifi me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                    <div class="">อินเทอร์เน็ต</div>
                                </div>
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="fa-solid fa-shoe-prints me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                    <div class="">รองเท้า</div>
                                </div>
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">air_purifier_gen</div>
                                    <div class="">เครื่องปรับอากาศ</div>
                                </div>
                                <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                    <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dinner_dining</div>
                                    <div class="">อาหารเช้า</div>
                                </div>
                            </div>

                        </div>
                        <div class="box-padding mt-auto d-flex justify-content-end">
                            <a href="#" class=" btn btn-primary fw-semibold fs-5 " onclick="sign_room('1')">
                                จองห้องพัก
                            </a>
                        </div>
                    </div>

                </div>







            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <div class="card card_r1">
                    <div class="d-flex justify-content-between px-3">
                        <div class=" fs-2 fw-semibold mt-1">ห้องซูพีเรีย</div>
                        <div class=" fs-2 fw-semibold mt-1">750 ฿/คืน</div>
                    </div>

                    <!-- img Carousel -->
                    <div id="carouselExampleIndicators1" class="carousel slide carousel-fade " data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="superior1.jpg" class="d-block w-100  " alt="...">

                            </div>
                            <div class="carousel-item">
                                <img src="superior2.jpg" class="d-block w-100  " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="superior3.jpg" class="d-block w-100  " alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- img Carousel -->
                    <div class="detailsroom ">
                        <div class="card p-2">
                            <div class="head-fa fs-5">รายละเอียดห้อง</div>
                            <div class="row container">

                                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                    <div class="">ขนาดห้อง 36 ตรม.</div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                    <div class="">ขนาดเตียง คิงไซส์</div>
                                </div>
                                <div class=" col-6 col-sm-6 col-md-6 col-lg-3">
                                    <div class="">เข้าพักได้ 2 คน</div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                    <div class="">ส่วนเสริม ระเบียง</div>
                                </div>
                            </div>
                        </div>

                        <div class="card p-2">
                            <div class="facilities ">
                                <div class="head-fa fs-5">สิ่งอำนวยความสะดวก</div>
                                <div class="row container">
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dry_cleaning</div>
                                        <div class="">ผ้าเช็ดตัว</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                        <div class="">ของใช้ในห้องน้ำ</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="fa-solid fa-shower me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                        <div class="">ฝักบัว</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                        <div class="">ไดร์เป่าผม</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">kitchen</div>
                                        <div class="">ตู้เย็น</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">live_tv</div>
                                        <div class="">ทีวี</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="fa-solid fa-wifi me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                        <div class="">อินเทอร์เน็ต</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">table_restaurant</div>
                                        <div class="">โต๊ะทำงาน</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="fa-solid fa-shoe-prints me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                        <div class="">รองเท้า</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">air_purifier_gen</div>
                                        <div class="">เครื่องปรับอากาศ</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dinner_dining</div>
                                        <div class="">อาหารเช้า</div>
                                    </div>
                                    <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                        <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">coffee_maker</div>
                                        <div class="">กาแฟ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-padding mt-auto d-flex justify-content-end">
                                <a href="#" class=" btn btn-primary fw-semibold fs-5 " onclick="sign_room('3')">
                                    จองห้องพัก
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 ">
                    <div class="card card_r1">
                        <div class="d-flex justify-content-between px-3">
                            <div class=" fs-2 fw-semibold mt-1">ห้องดีลักซ์</div>
                            <div class=" fs-2 fw-semibold mt-1">850 ฿/คืน</div>
                        </div>
                        <!-- img Carousel -->
                        <div id="carouselExampleIndicators2" class="carousel slide carousel-fade " data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="deluxe1.jpg" class="d-block w-100  " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="deluxe2.jpg" class="d-block w-100 " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="deluxe3.jpg" class="d-block w-100 " alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- img Carousel -->
                        <div class="detailsroom ">
                            <div class="card p-2">
                                <div class="head-fa fs-5">รายละเอียดห้อง</div>
                                <div class="row container">

                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                        <div class="">ขนาดห้อง 36 ตรม.</div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                        <div class="">ขนาดเตียง คิงไซส์</div>
                                    </div>
                                    <div class=" col-6 col-sm-6 col-md-6 col-lg-3">
                                        <div class="">เข้าพักได้ 2 คน</div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                        <div class="">ส่วนเสริม ห้องนั่งเล่น</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-2">
                                <div class="facilities ">
                                    <div class="head-fa fs-5">สิ่งอำนวยความสะดวก</div>
                                    <div class="row container">
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dry_cleaning</div>
                                            <div class="">ผ้าเช็ดตัว</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                            <div class="">ของใช้ในห้องน้ำ</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="fa-solid fa-shower me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                            <div class="">ฝักบัว</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="fa-solid fa-bath me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                            <div class="">อ่างอาบน้ำ</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                            <div class="">ไดร์เป่าผม</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">kitchen</div>
                                            <div class="">ตู้เย็น</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">live_tv</div>
                                            <div class="">ทีวี</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="fa-solid fa-wifi me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                            <div class="">อินเทอร์เน็ต</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="fa-solid fa-dumbbell me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                            <div class="">ฟิตเนส</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">chair</div>
                                            <div class="">โซฟา</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">table_restaurant</div>
                                            <div class="">โต๊ะทำงาน</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="fa-solid fa-shoe-prints me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                            <div class="">รองเท้า</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">air_purifier_gen</div>
                                            <div class="">เครื่องปรับอากาศ</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dinner_dining</div>
                                            <div class="">อาหารเช้า</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">coffee_maker</div>
                                            <div class="">กาแฟ</div>
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                            <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">water_full</div>
                                            <div class="">น้ำผลไม้</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-padding mt-auto d-flex justify-content-end">
                                    <a href="#" class=" btn btn-primary fw-semibold fs-5 " onclick="sign_room('5')">
                                        จองห้องพัก
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                        <div class="card card_r1">
                            <div class="d-flex justify-content-between px-3">
                                <div class=" fs-2 fw-semibold mt-1">ห้องสวีท</div>
                                <div class=" fs-2 fw-semibold mt-1">1000 ฿/คืน</div>
                            </div>
                            <!-- img Carousel -->
                            <div id="carouselExampleIndicators3" class="carousel slide carousel-fade " data-bs-ride="true">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="suite1.jpg" class="d-block w-100  " alt="...">

                                    </div>
                                    <div class="carousel-item">
                                        <img src="suite2.jpg" class="d-block w-100 " alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="suite3.jpg" class="d-block w-100 " alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <!-- img Carousel -->
                            <div class="detailsroom ">
                                <div class="card p-2">
                                    <div class="head-fa fs-5">รายละเอียดห้อง</div>
                                    <div class="row container">

                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                            <div class="">ขนาดห้อง 36 ตรม.</div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                            <div class="">ขนาดเตียง คิงไซส์</div>
                                        </div>
                                        <div class=" col-6 col-sm-6 col-md-6 col-lg-3">
                                            <div class="">เข้าพักได้ 2 คน</div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                                            <div class="">ส่วนเสริม ห้องนั่งเล่น</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card p-2">
                                    <div class="facilities ">
                                        <div class="head-fa fs-5">สิ่งอำนวยความสะดวก</div>
                                        <div class="row container">
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dry_cleaning</div>
                                                <div class="">ผ้าเช็ดตัว</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">ของใช้ในห้องน้ำ</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-solid fa-shower me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">ฝักบัว</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-solid fa-bath me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">อ่างอาบน้ำ</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-regular fa-circle-check me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">ไดร์เป่าผม</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">kitchen</div>
                                                <div class="">ตู้เย็น</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">live_tv</div>
                                                <div class="">ทีวี</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-solid fa-wifi me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">อินเทอร์เน็ต</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-solid fa-water-ladder me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">สระว่ายน้ำ</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-solid fa-dumbbell me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">ฟิตเนส</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">chair</div>
                                                <div class="">โซฟา</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">table_restaurant</div>
                                                <div class="">โต๊ะทำงาน</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="fa-solid fa-shoe-prints me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)"></div>
                                                <div class="">รองเท้า</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">air_purifier_gen</div>
                                                <div class="">เครื่องปรับอากาศ</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">dinner_dining</div>
                                                <div class="">อาหารเช้า</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">coffee_maker</div>
                                                <div class="">กาแฟ</div>
                                            </div>
                                            <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-3 align-items-center">
                                                <div class="material-symbols-outlined me-2 justify-content-center d-flex" style="width: 20px;color: rgb(20, 163, 60)">water_full</div>
                                                <div class="">น้ำผลไม้</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-padding mt-auto d-flex justify-content-end">
                                        <a href="#" class=" btn btn-primary fw-semibold fs-5 " onclick="sign_room('7')">
                                            จองห้องพัก
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-3 mt-5">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#home" onclick="showSection('home')" class="nav-link px-2 text-muted">หน้าหลัก</a></li>
                <li class="nav-item"><a href="#rooms" onclick="showSection('rooms')" class="nav-link px-2 text-muted">ห้องพัก</a></li>
                <li class="nav-item"><a href="#booking" onclick="showSection('booking'),booking_search()" class="nav-link px-2 text-muted">จองห้องพัก</a></li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa-brands fa-youtube"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">ติดต่อ 0123456789</a></li>

            </ul>
            <p class="text-center text-muted">© 2023 โรงแรมบีเอส</p>
        </footer>
    </div>







</section>

<script>
</script>