<section id="rooms" style="padding-top: 50px">
    <div class="row-card">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img src="standard.jpg" class="img-fluid" alt="...">
                <div class="box-padding">
                    <h5 class="card-title">สแตนดาร์ด</h5>
                    <p class="card-text"> เป็นห้องพักแบบมาตรฐานทั่วไป
                        มีสิ่งอำนวนความสะดวกเท่าที่จำเป็น เช่น เตียงนอน ห้องน้ำ
                        ทีวี
                        แอร์</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img src="superior.jpeg" class="img-fluid" alt="...">
                <div class="box-padding">
                    <h5 class="card-title">ซูพีเรีย</h5>
                    <p class="card-text">เป็นห้องพักที่มีขนาดกว้างกว่าแบบสแตนดาร์ดขึ้นมาเล็กน้อย
                        มีสิ่งอำนวยความสะดวกเพิ่มขึ้น 1-2 ชิ้น</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img src="deluxe.jpeg" class="img-fluid" alt="...">
                <div class="box-padding">
                    <h5 class="card-title">ดีลักซ์</h5>
                    <p class="card-text">เป็นห้องที่หรูหราขึ้นมา
                        มีการตกแต่งที่สวยงาม เตียงขนาดใหญ่
                        พร้อมทั้งมีสิ่งอำนวยความสะดวกครบครัน</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <img src="suite.jpeg" class="img-fluid" alt="...">
                <div class="box-padding">
                    <h5 class="card-title">สวีท</h5>
                    <p class="card-text">เป็นห้องพักที่มีห้องนั่งเล่น
                        สิ่งอำนวยความสะดวกต่างๆครบครัน
                        พื้นที่กว้างมากกว่า มีการตกแต่งที่หรูหรา</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>


</section>