body {
    background: #f1f1f1;
    font-family: Kanit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Kanit;
}

.navbar-nav {
    float: right;
}

.img-block1 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.box-padding {
    padding: 0rem;
}

.media-custom {
    background: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}

.media-body {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    text-decoration: none;
}

.media-custom:hover a {
    color: rgb(255, 124, 37);
    transition: 0.3s;
}

.media-custom:hover .boxatt a {
    background-color: rgb(255, 124, 37);
    border-color: rgb(255, 124, 37);
    color: white;
    transition: 0.3s;
}

.row-service:hover i {
    color: rgb(255, 124, 37);
    transition: 0.2s;
}

.row-service:hover p {
    color: rgb(255, 124, 37);
    transition: 0.2s;
}

.reccontact i {
    color: #0d6efd;
    transition: 0.2s;
}

.reccontact:hover i {
    color: rgb(255, 124, 37);
    transition: 0.2s;
}

.my-custom-class {
    margin-top: 0px;
}


/* @media (max-width: 575.98px) {
    .carousel-item {
        height: 250px;
    }
    .cardbookingall .carousel-item {
        height: 250px;
    }
    .cardbooking .carousel-item {
        height: 250px;
    }
    .bt_listbooking {
        margin-bottom: 0.5rem;
    }
} */

@media (min-width: 992px) {
    /* Desktop */
    .setimg-h-recroom img {
        height: 600px;
    }
}

@media (max-width: 991px) {
    /* Tablets */
    .setimg-h-recroom img {
        height: 640px;
    }
}

@media (max-width: 767px) {
    /* Mobile */
    .setimg-h-recroom img {
        height: 300px;
    }
}


/* size cardbooking all */

.cardbookingall .carousel-item {
    height: 360px;
}

.cardbookingall .carousel-item img {
    height: 100%;
    object-fit: cover;
}


/* size cardbooking all */


/* size cardbooking  */

.cardbooking .carousel-item {
    height: 360px;
}

.cardbooking .carousel-item img {
    height: 100%;
    object-fit: cover;
}


/* size cardbooking  */


/* .card_r1 .carousel-item {
    height: 600px;
} */

.setcard-recroom {
    background: #fff;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}